
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Pass</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../images/logo (1).png" alt="XteamHub Logo" class="logo-image">
        </div>
        <nav>
            <ul class="nav-list">
                <li class="nav-list-item"><a href="index.html">Home</a></li>
                <li class="nav-list-item"><a href="game_pass.html">Game Pass</a></li>
                <li class="nav-list-item"><a href="amigos.html">Amigos</a></li>
                <li class="nav-list-item"><a href="suporte.html">Suporte</a></li>
                <li class="nav-list-item"><a href="tema.html">Tema</a></li>
            </ul>
        </nav>

        <div class="perfil-container">
            <div>
                <img src="../images/43037909.jpg" alt="Imagem de perfil" class="perfil-image">
            </div>
            <div class="perfil-info">
                <h2 id="perfil">Matheus Lima</h2>
        </div>
    </header>

    <main>

    </main>

    <footer>

    </footer>
    
</body>
</html>