{% extends 'games/base.html' %}
{% load static %}

{% block title %}Game Pass{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/game_pass_styles.css' %}">
{% endblock %}
s
{% block content %}
<section class="game-list">
    {% for jogo in jogos %}
    <div class="game-card">
        <img src="{{ jogo.imagem.url }}" alt="{{ jogo.nome }}">
        <h3>{{ jogo.nome }}</h3>
        <p>{{ jogo.descricao|truncatewords:20 }}</p>

        <div class="card-buttons">
            <a href="{% url 'jogo-editar' jogo.pk %}" class="edit-btn">Editar</a>
            <a href="{% url 'jogo-deletar' jogo.pk %}" class="delete-btn">Deletar</a>
        </div>
    </div>
    {% endfor %}
</section>

<div style="text-align: center; margin-top: 30px;">
    <a href="{% url 'jogo-novo' %}" class="add-btn">➕ Adicionar novo jogo</a>
</div>

{% if is_paginated %}
<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <strong>{{ num }}</strong>
        {% else %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
    {% endif %}
</div>
{% endif %}
{% endblock %}
